aiohttp
astunparse
async-timeout
attrs
braceexpand
chardet
click
colorama
git+https://github.com/Rapptz/discord.py@master
flask
idna
import-expression
itsdangerous
jinja2
git+https://github.com/Gorialis/jishaku@master
markupsafe
multidict
psutil
six
statcord.py
typing-extensions
werkzeug
yarl
